<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Selected</th>
        </tr>
    </thead>
    <tbody>
        @for(product of products(); track product.id) {
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                @if(product.selected) {
                    <td><button (click)="select(product)">Selected</button></td>
                }
                @else {
                    <td><button (click)="select(product)">Remove</button></td>
                }
                <td>
                    <button (click)="delete(product)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>